*
{
	margin: 0;
	padding: 0;
}

/* colors >>>>> psd 
   
   light color >> #f0f1f5
   dark color >> #40bb43
   gray color >> #78828e
   yellow color >> #ffc825
   dark gray color >> #7c7680
   
*/


/*start devices section*/
.devcies
{
	background-color: #f0f1f5;
}
.row-tap
{
	background-color: white;
  padding-bottom: 30px;
  padding-top: 20px;
}

#dropdownMenuButton
{
  width: 200px;
  background-color: #f0f1f5;
  color: #78828e;
  border:0;
  box-shadow: 0 0 0 0;
}
.dropdown-menu.show
{
  display: block;
  width: 200px;
  color: #78828e;
  text-align: center;
  background-color: #f0f1f5;
  transition-duration: 1s;
}
.dropdown-item
{
  color: #78828e;
  font-weight: 500;
}
.dropdown-item:hover
{
  transition-duration: 1s;
	color: #78828e;
	background-color: #fcfcfc;

}
.tabs ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.tabs ul li 
{
	display: inline-block;
	padding: 5px 14px;
	cursor: pointer;
	background-color: #40bb43;
	color: #f0f1f5;
  border-radius: 20px;
  font-weight: 600;
}
.tabs ul li.inactive
{
	background-color: #f0f1f5;
	color: #40bb43;
}

.devcie
{
  background-color:#ffffff;
  min-height: max-content;
  border-radius: 15px;
  margin-left: 13px;
  margin-top: 50px;
  box-shadow: 5px 5px 9px 1px #dde0eb;
  padding-top: 15px;
}
.imgDiv
{
  background-color: #f0f1f5;
  margin-right: 10px;
  border-radius: 15px;
  height: 150px;
  margin-top: -25px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 5px 5px 9px 1px #dde0eb;

}
  

}
h6
{
	margin-top: 10px;
}

/* stars style */
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ffc825;
}
.phoneName1,.phoneName2,.phoneName3
{
	display: inline-block;
}

.span-stars
{
	color: #7c7680;
}
/*icons star*/
.icon
{
	display: inline-block;
}
.fa-microchip
{
  font-size: 20px;
  color: #7c7680;
  width: 34px;
  margin-top: 10px;	
  display: block;
}
.span-icons
{
  font-size: smaller;
  color: #7c7680;
}
/*span price*/
.span-price
{
  display: block;
  color: #7ecb7f;
  font-size: x-large;
  text-align: right;	
}

		
.imgDiv img
{
  width: 91px;
  height: 250px;
  display: inline-block;
  margin-top: 15px;
}


/* more button */
.click
{
  width: -webkit-fill-available;
  margin: 50px 5px;
  border: 0;
  padding: 7px;
  background-color: #40bb43;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 140px 20px white;
}


/*end devices section*/
